    {% extends 'all-photo/base.html' %}


    {% block content %}

    <h5> Gallery</h5>


    {% for photo_item in photos %}
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h1>{{photo.poster}}</h1> 
        <p>{{photo.title}}</p>
        <img src="{{photo_item.image.url}}" data-toggle="modal" class="img-responsive" alt="Image" style="max-width:200px;">
    </div>
    </div>
    {% empty %}
    <div class="row">
    <h2 class="text-center">There No Images yet</h2>
    </div>
    {% endfor %}



{% endblock%}