body {
    background: #ffffff;
font-family: 'Source Sans Pro', sans-serif;
font-style: normal;
font-weight: 300;
position: relative;
}

html,body {
width: 100%;
overflow-x: hidden;
}

html {
font-size: 100%;
}

/* .header-one {
    background: url('../image/header-bg.jpg') no-repeat;
    height: 60vh !important;
    min-height: 520px;
    padding-top: 150px !important;
} */