{% extends 'photos/base.html' %}

{% block content %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for photo in photos %}
    <div class="col">
    <div class="card">
        <img src="{{photo.image.url}}" class="img-responsive" alt="">
        <div class="card-body">
        <h5 class="card-title">{{photo.title}}</h5>
        <p class="card-text">{{photo.description}}</p>
        </div>
        <div class="card-footer">
        <small class="text-muted">Posted {{photo.pub_date|timesince}} by {{photo.poster.first_name}}</small>
        <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
    </div>
</div>
    </div>
</div>
    {% endfor %}
    {% endblock %}





